# Node modules
node_modules/

# OS specific files
/.DS_Store
/Thumbs.db

# Log files
logs/

# Build output
dist/

# IDE specific files
.idea/
.vscode/

# Testing files
coverage/

# Temporary files
tmp/

# Package-lock.json
package-lock.json

# angular cache
.angular/

# bolt cache
.bolt/
